executor {
  name = 'slurm'
  queueSize = 20
}

account = "${params.account}"

process {
  cpus = 1
  memory = '8 GB'
  clusterOptions = "--account=${account} --time=01:00:00"

  withName:
  'feature_detection' {
    cpus = 8
    memory = '32 GB'
    clusterOptions = "--account=${account} --time=06:00:00"
  }
  withName:
  'structure_prediction' {
    cpus = 1
    memory = '46 GB'
    clusterOptions = "--account=${account} --time=3-00:00:00"
  }
  withName:
  'relaxation' {
    cpus = 1
    memory = '46 GB'
    clusterOptions = "--account=${account} --time=3-00:00:00 --gpus-per-node=1"
  }
}
