executor {
  name = 'slurm'
  queueSize = 20
}

account = "${params.account}"

process {
  cpus = 1
  memory = '8 GB'
  clusterOptions = "--account=${account} --time=01:00:00"

  withName:
  'prepare_alphafold' {
    cpus = 8
    memory = '32 GB'
    clusterOptions = "--account=${account} --time=06:00:00"
  }
  withName:
  'alphafold' {
    cpus = 1
    memory = '46 GB'
    clusterOptions = "--account=${account} --time=5-00:00:00 --gpus-per-node=1"
  }
}
