executor {
  name = 'slurm'
  queueSize = 20
}

account = "${params.account}"

process {
  cpus = 1
  memory = '8 GB'
  clusterOptions = "--account=${account} --time=01:00:00"

  withName:
  'data_pipeline' {
    cpus = 8
    memory = '32 GB'
    clusterOptions = "--account=${account} --time=12:00:00"
  }
  withName:
  'model_inference' {
    cpus = 1
    memory = '32 GB'
    clusterOptions = "--account=${account} --time=1-00:00:00 --gpus-per-node=1"
  }
}
